{% extends "recipes/base.html" %}

{% block content %}
<div class="jumbotron bg-light p-5 rounded">
    <h1 class="display-4">Welcome to Recipe Community!</h1>
    <p class="lead">Share and discover amazing recipes.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'recipe-list' %}" role="button">Browse Recipes</a>
</div>

<h3 class="mt-5">Featured Recipes This Week</h3>
<div class="row">
{% for recipe in featured %}
<div class="col-md-4 mb-4">
    <div class="card">
        {% if recipe.photo %}
        <img src="{{ recipe.photo.url }}" class="card-img-top" alt="{{ recipe.title }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'recipe-detail' recipe.pk %}">{{ recipe.title }}</a></h5>
            <p class="card-text">By {{ recipe.author }}</p>
            <p class="card-text">Average Rating: {{ recipe.avg_rating|floatformat:1 }} stars</p>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}